.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.CodeEditor {
  width: 80%;
  max-width: 800px;
  margin: 20px;
}
.customEditor:focus{
  outline: none !important;
}
